# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class


# local environment folder
.pyenv

# kaggle API key
.kaggle


# data volume
data

# Ignore all dagster local execution artifacts, but keep the config file
dagster_home/*
!dagster_home/dagster.yaml